In [4]:
'''
1 2 3 4 5
1 2 3 4 5 
1 2 3 4 5 
1 2 3 4 5 
1 2 3 4 5 
'''

for i in range(1,6):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [6]:
'''
1
1 2
1 2 3
1 2 3 4 
1 2 3 4 5 
'''
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
'''
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
'''
for i in range(5,0,-1):
    for j in range(i,6):
        print(j,end=' ')
        
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [14]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [35]:
'''
5  
5 4  
5 4 3  
5 4 3 2  
5 4 3 2 1  
'''

for i in range(1, 6):
    for j in range(5, 5 - i, -1):
        print(j, end=' ')
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [42]:
"""
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
"""
for i in range(1,6):
    for j in range(1,7-i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [48]:
""" 
5 4 3 2 1 
5 4 3 2 
5 4 3 
5 4 
5 
"""

for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [58]:
'''
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1 
'''

for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [61]:
for i in range(1,6):
    for j in range(i,6):
        print(j,end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [89]:
# Q. 9
'''
1 
2 3 
4 5 6 
7 8 9 10 
11 12 13 14 15 '''
n=1
for i in range(1,6):
    for  j in range(1,i+1):
        
        print(n,end=" ")
        n+=1
        
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [126]:
#  Q. 10
'''
1 2 1 2 1
1 2 1 2
1 2 1
1 2
1
'''

for i in range(1,6):
    for j in range(1,7-i):
        if j%2==0:
            print(2,end=' ')    
        else:
            
            print(1,end=" ")
                
    print()

1 2 1 2 1
1 2 1 2
1 2 1
1 2
1

In [131]:
# q. 11
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [146]:
# Q. 12
'''
5 
4 5 
3 4 5 
2 3 4 5 
1 2 3 4 5 
2 3 4 5 
3 4 5 
4 5 
5
'''
for i in range(5,0,-1):
    for j in range(i,6):
        print(j, end=' ')
    print()

for i in range(2,6):
    for j in range(i,6):
        print(j, end=' ')
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [165]:
# Q. 13
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

for i in range(2,6):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [167]:
# Q. 14 - half part
for i in range(1,6):
    for j in range(1,i+1):
        if j%2==0:
            print(2,end=" ")
        else:
            print(1,end=" ")
    print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [168]:
#  q. 14 - Complate
for i in range(1,6):
    for j in range(1,i+1):
        if j%2==0:
            print(2,end=" ")
        else:
            print(1,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(1,i+1):
        if j%2==0:
            print(2,end=" ")
        else:
            print(1,end=" ")
    print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1
1 2 1 2
1 2 1
1 2
1

In [171]:
#  Q.16
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

for i in range(4,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [181]:
# Q.15
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print()
    
for i in range(2,6):
    for j in range(5,i-1,-1):
        print(i,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5