In [2]:
# pattern 1
for i in range(1,6):
    for j in range(1,6):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [3]:
# pattern 2
n = int(input('Number'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print('*',end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [8]:
# pattern 2
''' if  n=5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

'''
n=int(input('Enter n:'))
i=1
for i in range(1,n+1):
    for j in range(1,n+1):
        print(j,end=" ")
        
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [9]:
# pattern 3
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
# Pattern 4
for i in range(1,6):
    for j in range(1,i+1):
        print(6-j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [18]:
# Pattern 5 
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [19]:
n = int(input())
 
for i in range(1,n//2+1+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()
for i in range(n//2,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [31]:
# pattern 6
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(i,1,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2
3 2
2

In [29]:
for i in range(1,6):

    for j in range(i,0,-1):

        print(j, end=" ")

    print()

for i in range(4,0,-1):

    for j in range(i,0,-1):

        print(j, end=" ")

    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
# pattern 7
for i in range(1,6):
    for j in range(1,5-i+1):
        print("* ", end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

* * * * 1
* * * 1 2
* * 1 2 3
* 1 2 3 4
1 2 3 4 5

In [38]:
# pattern 7
for i in range(1,6):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

# Time complexity - N^2

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [43]:
for i in range(1,6):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [45]:
for i in range(1,6):
    for j in range(1,5-i+1):
        print(" ", end="")
    for k in range(1,i+1):
        print(k,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [47]:
# pattern 9
for i in range(1,6):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(1,2*i):
        print(k,end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [48]:
# pattern 9
for i in range(1,6):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(1,2*i):
        print(k,end=" ")
    print()
for i in range(4,0,-1):
    for j in range(1,5-i+1):
        print("  ", end="")
    for k in range(4,2*i):
        print(k,end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  4 5 6 7
    4 5